<%- include('header', {userId:userId, login_status: login_status, category: category}); -%>



     

      <div class="row my-3  ">

        <div class="col-lg-8 d-flex">

             <!-- Large Screen-->

            <div class="container m-3 d-none d-sm-block">

                <div class="container mx-5 text-center">

                    <div class="row d-flex justify-content-center align-items-center">
    
                        <div class="col-3">
    
                
                            <div class="fs-6 fw-bold baloo-da-2 text-dark my-3">Product Name</div>
    
                        </div>
    
                        <div class="col-3">

                            <div class="fs-6 fw-bold baloo-da-2 text-dark my-3">Quantity</div>
    
                        </div>
    
                        <div class="col-3">

                            <div class="fs-6 fw-bold baloo-da-2 text-dark my-3">Price</div>
    
                        </div>
    
                        <div class="col-3">

                           
                        </div>
    
                    </div>
    
                
                    <div class="row d-flex justify-content-center align-items-center">
    
                        <div class="col-3">
    
                            <img src="img/website-photo/product-img.png" class="img-fluid" alt="...">
                            <div class="fs-6 fw-bold baloo-da-2 text-success my-3">ন্যাংরা আম - ১২ কেজি বক্স</div>
    
                        </div>
    
                        <div class="col-3">

                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-dark fw-bold"><i class="bi bi-dash-lg"></i></button>
                                <button type="button" class="btn btn-outline-dark">12</button>
                                <button type="button" class="btn btn-outline-dark fw-bold"><i class="bi bi-plus-lg"></i></button>
                              </div>
    
                        </div>
    
                        <div class="col-3">

                <a type="button" class="btn btn-warning my-1 fw-bold hind-siliguri">মূল্য - 6000/= BDT</a>

                <div class="fs-5 fw-bold hind-siliguri my-1 text-dark"><i class="bi bi-x"></i> 2 = 12000</div>
    
                        </div>
    
                        <div class="col-3">

                            <div class="fs-5 fw-bold hind-siliguri my-1 text-dark"><i class="bi bi-trash"></i></div>
    
                        </div>
    
                    </div>

                    <div class="row d-flex justify-content-center align-items-center">
    
                        <div class="col-3">
    
                            <img src="img/website-photo/product-img.png" class="img-fluid" alt="...">
                            <div class="fs-6 fw-bold baloo-da-2 text-success my-3">ন্যাংরা আম - ১২ কেজি বক্স</div>
    
                        </div>
    
                        <div class="col-3">

                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-dark fw-bold"><i class="bi bi-dash-lg"></i></button>
                                <button type="button" class="btn btn-outline-dark">12</button>
                                <button type="button" class="btn btn-outline-dark fw-bold"><i class="bi bi-plus-lg"></i></button>
                              </div>
    
                        </div>
    
                        <div class="col-3">

                <a type="button" class="btn btn-warning my-1 fw-bold hind-siliguri">মূল্য - 6000/= BDT</a>

                <div class="fs-5 fw-bold hind-siliguri my-1 text-dark"><i class="bi bi-x"></i> 2 = 12000</div>
    
                        </div>
    
                        <div class="col-3">

                            <div class="fs-5 fw-bold hind-siliguri my-1 text-dark"><i class="bi bi-trash"></i></div>
    
                        </div>
    
                    </div>
    
    
                </div>

            </div>

             <!-- In Small Screen -->

                
    <div class="container d-block d-sm-none p-2 shadow-sm text-center">

        
        <img src="img/website-photo/product-img.png" class="img-fluid" alt="...">

        <div class="fs-5 fw-bold baloo-da-2 text-center text-success my-3">ন্যাংরা আম - ১২ কেজি বক্স</div>


    <a type="button" class="btn btn-warning my-1  fw-bold hind-siliguri">মূল্য - 6000/= BDT</a>  


    <div class="fs-5 fw-bold hind-siliguri my-1 text-dark"><i class="bi bi-x"></i> 2 = 12000</div>

    

    <div class="container-fluid bg-light p-3 my-2 rounded-3">

        <div class="row">

            <div class="col-lg-4">

                <div class="btn-group mb-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-dark fw-bold"><i class="bi bi-dash-lg"></i></button>
                    <button type="button" class="btn btn-outline-dark">12</button>
                    <button type="button" class="btn btn-outline-dark fw-bold"><i class="bi bi-plus-lg"></i></button>
                  </div>

            </div>

            <div class="col-lg-4">

                <button type="button" class="btn btn-success mb-3 w-100 fw-bold hind-siliguri">Delete</button>

            </div>



        </div>


    </div>


    </div>

        </div>

        <div class="col-lg-4">

         
            <!-- Large Screen-->
            <div class="container d-none d-sm-block ">

                <div class="fs-6 baloo-da-2  text-dark my-3">Summury</div>

                <div class="fs-6 fw-bold baloo-da-2  text-dark my-3">Total Product Price: 2000/=</div>
    
                <div class="fs-6 fw-bold baloo-da-2  text-dark my-3">Shipping Fee: 2000/=</div>
    
                <div class="fs-6 fw-bold baloo-da-2  text-dark my-3">Total Amount: 2000/=</div>

                <br><br>


                <div class="fs-6 baloo-da-2  text-dark my-3">Have any Voucher ?</div>

                <div class="input-group w-75 mb-3">
                    <input type="text" class="form-control" placeholder="Enter Code" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-success" type="button" id="button-addon2">Apply</button>
                  </div>

                  <button class="btn btn-dark" type="button" id="button-addon2">Checkout</button>

            </div>

             <!-- Small Screen-->
             <div class="container text-center d-block d-sm-none ">

                <div class="fs-6 baloo-da-2  text-dark my-3">Summury</div>

                <div class="fs-6 fw-bold baloo-da-2  text-dark my-3">Total Product Price: 2000/=</div>
    
                <div class="fs-6 fw-bold baloo-da-2  text-dark my-3">Shipping Fee: 2000/=</div>
    
                <div class="fs-6 fw-bold baloo-da-2  text-dark my-3">Total Amount: 2000/=</div>

                <br>


                <div class="fs-6 baloo-da-2  text-dark my-3">Have any Voucher ?</div>

                <div class="input-group  mb-3">
                    <input type="text" class="form-control" placeholder="Enter Code" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-success" type="button" id="button-addon2">Apply</button>
                  </div>

                  <button class="btn btn-dark" type="button" id="button-addon2">Checkout</button>

            </div>



        </div>

      </div>


      <%- include('footer'); -%>





   
