
<%- include('header', {userId:userId, login_status: login_status}); -%>


      <!-- Log In card Start-->

      <div class="row d-flex justify-content-center p-2">

        <div class="col-lg-5 p-2 my-3">

            <div class="container p-5 pb-4 rounded-3 bg-white shadow">

                

                <h6 class="fw-bold text-center hind-siliguri my-4">মোবাইল নাম্বার ও ৬ ডিজিটের পাসওয়ার্ড দিয়ে লগইন করুন</h6>

                <div class="row">



                    <form action="/login/check" method="POST">

                    <div class="col-12">

                        <div class="mb-3">

                            <div class="container p-0">

                                <label for="formGroupExampleInput" class="form-label hind-siliguri">মোবাইল নাম্বার লিখুন</label>

                            </div>
                        
                            
                          <input type="text" class="form-control border-dark rounded-3" name="mobilenum" placeholder="01XXXXXXXXX" required>

                          

                        </div>

                    </div>

                    <div class="col-12">

                        <div class="container p-0">

                            <label for="formGroupExampleInput" class="form-label hind-siliguri">৬ ডিজিটের পাসওয়ার্ড লিখুন</label>

                        </div>
                        
                      <input type="text" class="form-control border-dark rounded-3" name="password" placeholder="6 digits password" required>
                    </div>


                     <div class="text-danger text-center my-3"> <%= message %> </div> 

                     <div class="row mb-3">

                   
 
                 

                    <div class="col-lg-6 d-flex  align-self-end">


                        <div class="container d-flex justify-content-center ">

                            <button type="submit" class="btn btn-dark mt-3 px-5 hind-siliguri"> Log In </button>
                        

                        </div>

                        
                        
                        

                    </div>

                </form>

                    <div class="col-lg-6 d-flex align-self-end">


                        <div class="container d-flex justify-content-center ">

                            <a href="/forgetpass" type="button" class="btn btn-outline-dark mt-3 hind-siliguri">Forget Password</a>

                        </div>

                        
                        
                        

                    </div>


                     </div> 

                    </form>





                  </div>

            </div>

        </div>

      </div>

      <!-- Log In card End-->

     

      <%- include('footer'); -%>