<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> আম নিকেতন </title>

    <!-- For J Query-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Custom CSS-->
    <link href="../css/custom.css" rel="stylesheet">

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">


  </head>

  <body>


    <div class="container-fluid p-2 bg-success">

        <div class="container">

            <div class="row ">

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6 d-flex justify-content-center">

                    <div class="text-white text-end baloo-da-2"> Call Us Now on +880 1784286885 |  Rajshahi, Bangladesh</div>


                </div>

            </div>

          
        </div>

    </div>

      <header class="p-3 bg-dark sticky-top text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

              <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Reviews</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Contact Us</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Track Order</a></li>

              <!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Products
    </button>
    <ul class="dropdown-menu p-3 shadow-sm">

      <% for( var i = 0 ; i< category.length ; i++){ %>

        <li><a class="dropdown-item h6 fw-bold baloo-da-2" href="/category/<%=category[i].id %>""> <%= category[i].category_name %> </a></li>

      <% } %>

     
    </ul>
  </div>

            </ul>
    
        
    
            <div class="text-end">

              <% if(login_status == true ){ %>

                <a href="/cart" type="button" class="btn btn-success position-relative me-3">
                  Cart
                  <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-dark bg-white">
                    0
                    <span class="visually-hidden">unread messages</span>
                  </span> -->
                </a>


                <%  } else{ %>
                  
                  <a href="/login" type="button" class="btn btn-success position-relative me-3">
                    Cart
                    <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-dark bg-white">
                      0
                      <span class="visually-hidden">unread messages</span>
                    </span> -->
                  </a>

    
                  <%  } %>

                
                 <% if(login_status == true ){ %>

                  <a type="button" href="#" class="btn btn-outline-light me-2">Log out</a>
                  <a type="button" href="/profile/<%= userId %>" class="btn btn-warning">Profile</a>

                  <%  } else{ %>

                    <a type="button" href="/login" class="btn btn-outline-light me-2">Login</a>
                    <a type="button" href="/registration" class="btn btn-warning">Sign-up</a>

                    <%  } %>

           


            </div>
          </div>
        </div>
      </header>